:root {
  --odd: 1;
  --h2-color: #6070ff;
  --white-color: #444;
  --black-color: #000;
  --html-color: #602;
  --body-color: #760;
  --color1-color: greenyellow;
  --color2-color: #0ff;
  --p-color: #344563;
  --bg-color: #e5e5e5;
}
@import "bootstrap";

/* ------- customize primary button color -------- */   
$mynewcolor:teal;

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  font-size: 5rem;
}

.body {
  display: flex;
  width: 100%;
}

.recent_scores {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem;
}

.scores_header {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.scores_div {
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
  width: 100%;
}

.add_score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
  width: 25%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
